<div class="div">
    <div class="div-2">
    <div class="div-3"><a class="div-4" href="/orderpage">Хранилище <br /> данных</a></div>
	<a class="div-5" href="/orderpage">Страница <br /> заказов</a>
    <div class="div-6">
		<a class="div-7" href="/warehousepage">Страница <br /> склада</a>
    </div>
    <a class="div-8" href="/objectpage">Страница <br /> объекта</a>
	<a class="div-9" href="/testpage">Тест <br /> страница</a>
    <div class="div-10"><a class="div-11" href="/testpage">Домашняя <br /> страница</a></div>
  </div>
  <div class="div-14">Мониторинг</div>
  <div class="div-15">Название товара(ов)</div>
  <div class="div-16"><span  th:text="${el.nameProduct}" class="div-17"/></div>
  <div class="div-18">Адрес</div>
  <div class="div-19"><span  th:text="${el.nameProduct}" class="div-17"/></div>
  <div class="div-21">Материально-ответственное лицо</div>
  <div class="div-22"><span  th:text="${el.nameProduct}" class="div-17"/></div>
</div>
<style>
  .div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: #01939a;
    align-self: stretch;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 11px 15px 0;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-left: 20px;
    }
  }
  .div-3 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
	text-decoration: none;
  }
  .div-4 {
    justify-content: center;
    color: #363636;
    text-align: center;
    background-color: #36d986;
    padding: 9px 5px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-4 {
      padding-right: 1px;
    }
  }
  .div-5 {
    color: #363636;
    text-align: center;
    justify-content: center;
    background-color: #36d986;
    flex-grow: 1;
    padding: 5px 11px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  .div-6 {
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
	text-decoration: none;
  }
  .div-7 {
    justify-content: center;
    color: #363636;
    text-align: center;
    background-color: #36d986;
    padding: 9px 16px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-7 {
      padding-right: 1px;
    }
  }
  .div-8 {
    color: #363636;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #36d986;
    flex-grow: 1;
    padding: 5px 15px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-8 {
      padding-right: -1px;
    }
  }
  .div-9 {
    color: #363636;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #36d986;
    flex-grow: 1;
    padding: 5px 15px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  .div-10 {
    background-color: #36d986;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
	text-decoration: none;
  }
  .div-11 {
    justify-content: center;
    color: #363636;
    text-align: center;
    background-color: #36d986;
    padding: 9px 6px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  .div-12 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
	text-decoration: none;
  }
  .div-13 {
    justify-content: center;
    color: #363636;
    text-align: center;
    background-color: #36d986;
    padding: 9px 11px;
    font: 400 25px/30px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-13 {
      padding-right: 1px;
    }
  }
  .div-14 {
    color: #000;
    align-self: center;
    margin-top: 84px;
    white-space: nowrap;
    font: 400 40px/48px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-14 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-15 {
    align-self: center;
    color: #52525c;
    margin-top: 89px;
    width: 599px;
    max-width: 100%;
    font: 400 30px/45px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-15 {
      margin-top: 40px;
    }
  }
  .div-16 {
    align-self: center;
    border-radius: 8px;
    border: 2px solid #4200ff;
    background-color: #fff;
    display: flex;
    margin-top: 8px;
    width: 599px;
    max-width: 100%;
    flex-direction: column;
    padding: 12px 16px;
	text-decoration: none;
  }
  .div-17 {
    color: #000;
    opacity: 0.5;
    font: 400 15px/24px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
    }
  }
  .div-18 {
    align-self: center;
    color: #52525c;
    margin-top: 50px;
    width: 599px;
    max-width: 100%;
    font: 400 30px/45px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-18 {
      margin-top: 40px;
    }
  }
  .div-19 {
    align-self: center;
    border-radius: 8px;
    border: 2px solid #4200ff;
    background-color: #fff;
    display: flex;
    margin-top: 8px;
    width: 599px;
    max-width: 100%;
    flex-direction: column;
    padding: 12px 16px;
	text-decoration: none;
  }
  .div-20 {
    color: #000;
    opacity: 0.5;
    font: 400 15px/24px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
    }
  }
  .div-21 {
    align-self: center;
    color: #52525c;
    margin-top: 50px;
    width: 599px;
    max-width: 100%;
    font: 400 30px/45px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-21 {
      margin-top: 40px;
    }
  }
  .div-22 {
    align-self: center;
    border-radius: 8px;
    border: 2px solid #4200ff;
    background-color: #fff;
    display: flex;
    width: 599px;
    max-width: 100%;
    flex-direction: column;
    margin: 8px 0 249px;
    padding: 12px 16px;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-22 {
      margin-bottom: 40px;
    }
  }
  .div-23 {
    color: #000;
    opacity: 0.5;
    font: 400 15px/24px Inter, sans-serif;
	text-decoration: none;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
    }
  }
</style>
